.Card {
  margin: 20px 10px;
  width: 500px;
  height: 313px;
  border-radius: 25px;
  color: white;
  background-image: url("https://www.newshub.co.nz/dam/form-uploaded-images-ordered/2019/08/19/GettyImages-957221776-alien-planet-space-glow-et-1120-area-51.jpg");
}
.title {
  font-size: 2.3rem;
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 40px;
  font-weight: bold;
}
.puce {
  margin-left: 50px;
  border-radius: 5px;
  width: 85px;
  height: 70px;
}
.number {
  background-color: yellow;
  color: black;
  width: 320px;
  height: 29px;
  opacity: 0.22;
  font-size: 1.5rem;
  margin-left: 40px;
  display: flex;
  justify-content: center;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.footer-card {
  display: flex;
  flex-direction: column;
}
.card-details{
  display: flex;
  justify-content: space-between;
}
.code{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  line-height:3px;
  margin-left: 55px;  
  margin-top: -18px;
}
.label{
  display: flex;
  flex-direction: column;
  line-height: 0.1rem;
  font-size: 0.8rem;
}
.validity{
  text-align: center;
  line-height: 20%;
  margin-top: -18px;
  margin-left: -70px;
}
.Date{
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
.month{
  font-size: 0.8rem;
}
.visa-position {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
  width: 75px;
  height: 100px;
  margin-top: 27px;
}